In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#import tensorflow as tf
#from tensorflow.keras.preprocessing.text import Tokenizer
#from tensorflow.keras.preprocessing.sequence import pad_sequences

#import nltk
#from nltk.corpus import stopwords

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

import re

import warnings
warnings.filterwarnings('ignore')

In [3]:
#importing data

fake = 'data/Fake.csv'
true = 'data/True.csv'

df_fake = pd.read_csv(fake)
df_real = pd.read_csv(true)

In [4]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
df_fake['subject'].unique() #It's all news, this column doesn't add anything

array(['News', 'politics', 'Government News', 'left-news', 'US_News',
       'Middle-east'], dtype=object)

In [6]:
#df_fake['text'][0] #should I remove twitter handles?

In [7]:
df_real.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [8]:
#TODO remove CITY(newspaper) from df_real['text']
df_real['text'] = df_real['text'].str.extract(r"- (.*)", expand=False)

In [9]:
df_real['text'].head()

0    The head of a conservative Republican faction ...
1    Transgender people will be allowed for the fir...
2    The special counsel investigation of links bet...
3    Trump campaign adviser George Papadopoulos tol...
4    President Donald Trump called on the U.S. Post...
Name: text, dtype: object

In [10]:
df_real = df_real[['title','text']]

In [11]:
df_real.head()

,title,text
0,"As U.S. budget fight looms, Republicans flip t...",The head of a conservative Republican faction ...
1,U.S. military to accept transgender recruits o...,Transgender people will be allowed for the fir...
2,Senior U.S. Republican senator: 'Let Mr. Muell...,The special counsel investigation of links bet...
3,FBI Russia probe helped by Australian diplomat...,Trump campaign adviser George Papadopoulos tol...
4,Trump wants Postal Service to charge 'much mor...,President Donald Trump called on the U.S. Post...

In [15]:
df_real['title_text'] = df_real['title'] +' '+ df_real['text']

In [23]:
df_real_clean = df_real[['title_text']]

In [24]:
df_real_clean['fake'] = 0

In [25]:
df_real_clean.head()

                                              title_text  fake
0      As U.S. budget fight looms, Republicans flip t...     0
1      U.S. military to accept transgender recruits o...     0
2      Senior U.S. Republican senator: 'Let Mr. Muell...     0
3      FBI Russia probe helped by Australian diplomat...     0
4      Trump wants Postal Service to charge 'much mor...     0
...                                                  ...   ...
21412  'Fully committed' NATO backs new U.S. approach...     0
21413  LexisNexis withdrew two products from Chinese ...     0
21414  Minsk cultural hub becomes haven from authorit...     0
21415  Vatican upbeat on possibility of Pope Francis ...     0
21416  Indonesia to buy $1.14 billion worth of Russia...     0

[21417 rows x 2 columns]